html, body
{
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: AntiqueWhite;
}

*
{
  box-sizing: border-box;
}

#page-bar
{
	border: 3px solid #000000;
	width: 100%;
	height: 8%;
}

#logo-and-name-area
{
	border: 3px solid #000000;
	width: 21%;
	height: 80%;
	margin: 7px;
	float: left;
}

#pages-area
{
	border: 3px solid #000000;
	width: 55%;
	height: 80%;
	margin: 7px;
	float: left;
}

#logout-area
{
	border: 3px solid #000000;
	width: 20%;
	height: 80%;
	margin: 7px;
	float: left;
}

#bill-panel
{
	border: 3px solid #000000;
	width: 40%;
	height: 90%;
	margin: 10px;
	float: left;
}

#bill-number-area
{
	border: 3px solid #000000;
	width: 96%;
	height: 10%;
	margin: 2%;
	float: left;
}

#bill-area
{
	border: 3px solid #000000;
	width: 96%;
	height: 85%;
	margin: 2%;
	float: left;
}

#item-panel
{
	border: 3px solid #000000;
	width: 56%;
	height: 90%;
	margin: 10px;
	float: left;
}

#item-filling-area
{
	border: 3px solid #000000;
	width: 96%;
	height: 70%;
	margin: 2%;
	float: left;
}

#item-inventory-area
{
	border: 3px solid #000000;
	width: 96%;
	height: 67%;
	margin: 2%;
	float: left;
}

#item-button-area
{
	border: 3px solid #000000;
	width: 96%;
	height: 21%;
	margin: 2%;
	float: left;
}

#bill-issue-panel
{
	border: 3px solid #000000;
	width: 96%;
	height: 21%;
	margin: 2%;
	float: left;
}
